<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="NoOfSettopFolders" value="1" />
    <add key="SettopFolder01" value="D:\_Socotec\M14419144\" />
    <add key="SettopFolder02" value="blank" />
    <add key="SettopFolder03" value="blank" />
    <add key="SettopFolder04" value="blank" />
    <add key="SettopFolder05" value="blank" />
    <add key="DegRadGon" value="Deg" />
    <add key="DestinationPath" value="D:\_Socotec\FTPpush\" />
    <add key="SourceFileExtension" value="gka" />
    <add key="OutputFileExtension" value="dat" />
    <add key="CSVseparator" value="," />
    <add key="EmailLogin" value="gna.geomatics@gmail.com"/>
    <add key="EmailPassword" value="Julian1!"/>
    <add key="EmailFrom" value="gna.geomatics@gmail.com"/>
    <add key="NoDataAlarmRecipients" value="gna.geomatics@gmail.com"/>
    <add key="NoDataInterval_hrs" value="1"/>
    <add key="testEmail" value="No"/>
    <add key="SystemOperationalEmail" value="08:00"/>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
  </appSettings>
</configuration>